<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<!-- Se tidigare commit - Need to add buttons -->
<div th:fragment="slidemenu">
<button class="accordion">Bröd</button>
<div class="panel">
    <tr th:each="bread : ${breads}">
        <td th:text="${bread.name}"></td>
        <br>
    </tr>

</div>

<button class="accordion">Drycker</button>
<div class="panel">
  <tr th:each="drink : ${drinks}">
        <td th:text="${drink.name}"></td>
    <br>
    </tr>
</div>

<button class="accordion">Frukter</button>
<div class="panel">
    <tr th:each="fruit : ${fruits}">
        <td th:text="${fruit.name}"></td>
    <br>
    </tr>
</div>

<button class="accordion">Grönsakers</button>
<div class="panel">
    <tr th:each="vegetable : ${vegetables}">
        <td th:text="${vegetable.name}"></td>
        <br>
    </tr>
</div>
</div>
<script src="/js/main.js"></script>

</body>
</html>