<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<!-- Se tidigare commit - Need to add buttons -->
<div th:fragment="slidemenu">
<button class="accordion">Bröd</button>
<div class="panel">
    <tr th:each="bread : ${breads}">
        <a class="sub-btn" th:href="@{breads}">
            <td th:text="${bread.name}"></td> </a>
        <span class="line"></span>
        <br>
    </tr>

</div>

<button class="accordion">Drycker</button>
<div class="panel">
  <tr th:each="drink : ${drinks}">
      <a class="sub-btn" th:href="@{drinks}">
        <td th:text="${drink.name}"></td> </a>
      <span class="line"></span>
    <br>
    </tr>
</div>

<button class="accordion">Frukter</button>
<div class="panel">
    <tr th:each="fruit : ${fruits}">
        <a class="sub-btn" th:href="@{fruits}">
        <td th:text="${fruit.name}"></td> </a>
        <span class="line"></span>
    <br>
    </tr>
</div>

<button class="accordion">Grönsakers</button>
<div class="panel">
    <tr th:each="vegetable : ${vegetables}">
        <a class="sub-btn" th:href="@{vegetables}">
            <td th:text="${vegetable.name}"></td> </a>
        <span class="line"></span>
        <br>
    </tr>
</div>
</div>
<script src="/js/main.js"></script>

</body>
</html>