<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bröd</title>

    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
</head>

<body class="text-center">
<h1>Välkommen till Groceries Store!</h1>
<div class="container">
    <div th:insert="fragments/navbar :: navbar"></div>
</div>

<div class="card-columns">
    <div class="card" id="product-category">
    <div th:insert="fragments/slidemenu::slidemenu">
    </div>
    </div>

    <div class="card" id="midcard">
        <h1 class="breads">Bröd</h1>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Bröd Namn</th>
                <th>Bröd Pris</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="bread : ${breads}">
                <td th:text="${bread.name}"></td>
                <td th:text="${bread.price}"></td>
            </tr>
            </tbody>
        </table>

    </div>

    <div class="card" id="cartcard">
        <h1 class="breads">Bröd</h1>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Bröd Namn</th>
                <th>Bröd Pris</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="bread : ${breads}">
                <td th:text="${bread.name}"></td>
                <td th:text="${bread.price}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
    <a class="btn btn-dark" th:href="@{index}">Tillbaka till Startsidan</a>


<script src="/js/main.js"></script>
</body>
</html>