<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Drycker</title>

    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
</head>

<body class="text-center">
    <h1>Mathem</h1>
<div class="container">
    <div th:insert="fragments/navbar :: navbar"></div>
</div>

    <div class="card-columns">
        <div class="card" id="product-category">
            <div th:replace="fragments/slidemenu::slidemenu">
            </div>
    </div>

        <div class="card" id="midcard">
    <h1 class="drinks">Drycker</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Drycker Namn</th>
            <th>Drycker Pris</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="drink : ${drinks}">
            <td th:text="${drink.name}"></td>
            <td th:text="${drink.price}"></td>
        </tr>
        </tbody>
    </table>
    </div>

        <div class="card" id="cartcard">
        <h1 class="drinks">Drycker</h1>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Drycker Namn</th>
                <th>Drycker Pris</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="drink : ${drinks}">
                <td th:text="${drink.name}"></td>
                <td th:text="${drink.price}"></td>
            </tr>
            </tbody>
        </table>
    </div>



    </div>
    <a class="btn btn-dark" th:href="@{index}">Tillbaka till Startsidan</a>

    <script src="/js/main.js"></script>
</body>
</html>