
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Startsida</title>

    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
</head>

<body class="text-center">
<h1>Välkommen till Groceries Store!</h1>
<div class="container">
    <div th:replace="fragments/navbar :: navbarHome"></div>
</div>
<div class="card" style="width: 12rem;">
    <img src="/image/apelsin.jpg" class="card-img-top" alt="...">
    <div class="product-price-div">
        <h4 class="product-price">19,90/kg</h4>
    </div>
    <div class="card-body">
        <h5 class="card-title">Apelsin</h5>
        <p class="card-text">CA: 270G</p>
        <button class="btn btn-primary minus-button">-</button>
        <p class="product-quantity">0</p>
        <button class="btn btn-primary plus-button">+</button>
    </div>
</div>

</body>
</html>