
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Startsida</title>

    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
</head>

<body class="text-center">
<h1>Välkommen till Groceries Store!</h1>
<div class="container">
    <a class="active btn" th:href="@{index}">Hem</a>
    <a class="btn" th:href="@{products}">Produkter</a>
    <a class="btn" th:href="@{maträtters}">Maträtter</a>
    <a class="btn btn-group-toggle courier" th:href="@{courier}" >
        <img th:src="@{/image/courier.jpg }" th:height="50" th:width="50"> </a>
    <a class="btn cart" th:href="@{addcart}" >
        <img th:src="@{/image/add_cart.jpg }" th:height="50" th:width="50"> </a>
    <a class="btn-danger loging" th:href="@{login}">Logga In</a>
</div>

</body>
</html>