<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Logged</title>

    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/custom.css">


</head>
<body class="text-center">
<h1>Välkommen till Groceries Store!</h1>

<div class="container">
    <div th:replace="fragments/navbar :: navbarHome"></div>
</div>
<h1>LOGGED - Under construction</h1>
</body>
</html>