<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/custom.css">


</head>
<body class="text-center">
<h1>Välkommen till Groceries Store!</h1>

<div class="border-light">
    <h2 >Login</h2>
    <form method="post"></form>
    Användnamn:  <br><input type="text" value="" username="username"/><br>
    lösenord: <br><input type="password" value="" password="password"/><br>
    <br> <button  class="btn-danger loging"  type="submit">Login</button><br>

    <h2>Ny Användare</h2>
    <form method="post"></form>
    Namn:<br> <input type="text" value="" name="name"/><br>
    Användnamn:  <br><input type="text" value="" username="username"/> <br>
    Lösenord:<br> <input type="password" value="" password="password"/><br>
    Bekräfta Lösenord:<br> <input type="password" value="" password="password"/><br>
    <br> <button class="btn-danger loging" type="submit">Skafa ny användare</button><br>
</div>
</body>
</html>
