<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
    <script rel="script" type="text/javascript" src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script rel="script" type="text/javascript" src="/js/login.js"></script>
</head>
<body class="text-center">
<h1>Mathem</h1>
<div class="container">
    <div th:replace="fragments/navbar :: navbarHome"></div>
</div>
<div class="border-light">
    <h2 class="user">Login</h2>

    <div>
        Användnamn:<br><input type="text" id="email" name="email" value="" placeholder="Mailaddress"/><br>
        <br> <button id="login" class="btn-danger lodging">Visa köp historisk och ändra din profil</button><br>
    </div>
    <br><a class="btn-outline-secondary"  th:href="@{newuser}">Ny på Groceries? BLI MEDLEM</a><br>
    <table class="table table-dark table-hover"><br>
        <thead>
        <tr>
            <th>Namn</th>
            <th type="date">Födelsedag</th>
            <th>Adress</th>
            <th>Ta bort</th>
            <th>Ändra</th>
        </tr>
        </thead>
        <tbody id="user"></tbody>

    </table>

    <table class="table table-dark table-hover">
        <thead>
        <tr>
            <th>Produkt</th>
            <th>Typ</th>
            <th>Antal</th>
            <th>Pris</th>
            <th>Summa</th>
        </tr>
        </thead>
        <tbody id="produkt">
        </tbody>
    </table>
</div>
</body>
</html>