<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/custom.css">


</head>
<body class="text-center">
<h1>Välkommen till Groceries Store!</h1>

<div class="container">
    <div th:replace="fragments/navbar :: navbarHome"></div>
</div>

<div class="border-light">
    <h2 >Login</h2>
    <form method="post"></form>
    Användnamn:  <br><input type="text" name="username" value="" username="username" placeholder="Mailaddress"/><br>
    lösenord: <br><input type="password" name="password" value="" password="password"  placeholder="Lösenord"/><br>
    <br> <button  class="btn-danger lodging"  type="submit">Login</button><br>
    <br><a class="btn-outline-secondary" th:href="@{newuser}">Ny på Groceries? BLI MEDLEM</a><br>

</div>
</body>
<script src="/js/logging.js"></script>
</html>
