<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Produkter</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
</head>

<body class="text-center">
    <h1>Välkommen till Groceries Store!</h1>
<div class="container">
    <a class="btn" th:href="@{index}">Hem</a>
    <a class="active btn disabled" th:href="@{products}">Produkter</a>
    <a class="btn" th:href="@{maträtters}">Maträtter</a>
    <a class="btn btn-group-toggle courier" th:href="@{courier}" >
        <img th:src="@{/image/courier.jpg }" th:height="50" th:width="50"> </a>
    <a class="btn cart" th:href="@{addcart}" >
        <img th:src="@{/image/add_cart.jpg }" th:height="50" th:width="50"> </a>
    <a class="btn-danger loging" th:href="@{login}">Logga In</a>
</div>

<div class="card-columns">
    <a class="btn" th:href="@{breads}">Breads</a>
    <a class="btn" th:href="@{drinks}">Drinks</a>
    <a class="btn" th:href="@{fruits}">Fruits</a>
    <a class="btn" th:href="@{vegetables}">Vegetables</a>
</div>


    <button class="accordion">Bröd</button>
    <div class="panel">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>

    <button class="accordion">Drycker</button>
    <div class="panel">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

    </div>

    <button class="accordion">Frukter</button>
    <div class="panel">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>

    <button class="accordion">Grönsakers</button>
    <div class="panel">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>

</body>
</html>