<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rost Bröd</title>

    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
</head>

<body class="text-center">
<h1>Mathem</h1>

<div class="container">
    <div th:insert="fragments/navbar :: navbar"></div>
</div>

<div class="card-columns">
    <div class="card" id="product-category">
        <div th:replace="fragments/slidemenu::slidemenu">
        </div>
    </div>

    <div class="card" id="midcard">
        <h1 class="toasts">Rost Bröd</h1>
        <tr th:each="toasts :${toast}">
            <div class="card" style="width: 12rem;">
                <div class="product-price-div">
                    <h4 class="product-price">
                        <td th:text="${toasts.price}"></td>kr
                    </h4>
                </div>
                <img th:src="@{${toasts.image}}"  class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><td th:text="${toasts.name}"></td></h5>
                    <p class="card-text"><td th:text="${toasts.volume}"></td></p>
                    <button class="btn btn-primary minus-button">-</button>
                    <p class="product-quantity">0</p>
                    <button class="btn btn-primary plus-button">+</button>
                </div>
            </div>
        </tr>

    </div>
</div>
<!--
<a class="btn btn-dark" th:href="@{index}">Tillbaka till Startsidan</a>
-->
<script src="/js/main.js"></script>
<script src="/js/products.js"></script>
</body>
</html>